OVH_APP_KEY=xxxxxxxxxxxxxxxx
OVH_APP_SECRET=xxxxxxxxxxxxxxxx
OVH_CONSUMER_KEY=xxxxxxxxxxxxxxxx

IGNORED_SUBDOMAINS=@,*
DOMAIN: exemple.org
DEFAULT_TARGET: xxx.xxx.xxx.xxx#IPv4 address of your server
OVH_ENDPOINT: ovh-eu